@media (min-width: 0px) {
  .Chat {
    padding: 2%;
    padding-bottom: 20%;
  }

  .InputArea {
    padding: 3% 2%;
    max-width: 90%;
  }

}

@media (min-width: 768px) {
  .App {

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  
  .Chat {
    overflow-y: scroll;
    padding: 2% 18%;
    padding-bottom: 15%;

  }

  .InputArea {
    max-width: 63%;
    padding: 30px 10px;
  }
}


.Chat {
  height: 100%;
}




.InputArea {
  width: 100%;

  

  justify-content: center;
  
  position: fixed;
  bottom: 0;
  right: 50%;
  left: 50%;
  
  height: max-content;

  transform: translate(-50%, 0%);
  
  display: flex;
  align-items: start;
  
  background-color: #D5DCE3;
  border-top: 1px solid #95a0a8; /* Горизонтальная линия над строкой ввода */
  box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .5);
}

.InputArea textarea {

  height: 90%;
  min-height: 60px;
  max-width: 100%;

  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1;
  


  padding:  15px 20px;
  border: none;
  border-radius: 20px;
  margin-right: 10px; /* Пространство между полем ввода и кнопкой "Отправить" */
}

.InputArea textarea:focus {
  outline: none; /* Удаление рамки при вводе */
}


.InputArea button {
  background-color: #007bff; /* Цвет кнопки "Отправить" */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.InputArea button:hover {
  background-color: #0056b3; /* Цвет кнопки при наведении */
}