@media (min-width: 0px) {
  .Chat {
    padding: 2%;
    padding-bottom: 18%;
  }

  .InputArea {
    padding: 3% 2%;
    max-width: 90%;
  }

}

@media (min-width: 900px) {
  .Chat {
    padding: 2% 18%;
    padding-bottom: 12%;

  }

  .InputArea {
    max-width: 63%;
    padding: 20px;
  }
}

.App {
  display: flex;
  flex-direction: column;
}

.Chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.red-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.InputArea {
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 50%;
  left: 50%;
  height: max-content;
  transform: translate(-50%, 0%);
  display: flex;
  align-items: flex-start;
  background-color: #D5DCE3;
  border-top: 1px solid #95a0a8; /* Горизонтальная линия над строкой ввода */
  box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .5);
}

.InputArea textarea {
  height: 90%;
  min-height: 60px;
  max-width: 100%;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1;
  padding:  15px 20px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}

.InputArea textarea:focus {
  outline: none;
}


.InputArea button {
  background-color: #ccd2d8;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.InputArea button:hover {
  background-color: #b7bcc2;
}
