@media (min-width: 768px) {
  .App {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .Chat {
    width: 70%;
    margin-bottom: 160px;
  }
}


.InputArea {
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15%;
  display: flex;
  align-items: start;
  padding: 30px 30px;
  
  border-top: 1px solid #1E2022; /* Горизонтальная линия над строкой ввода */
}

.InputArea textarea {
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1;
  height: 100%;
  padding: 15px 18px;
  border: none;
  border-radius: 20px;
  margin-right: 10px; /* Пространство между полем ввода и кнопкой "Отправить" */
}

.InputArea textarea:focus {
  outline: none; /* Удаление рамки при вводе */
}


.InputArea button {
  background-color: #007bff; /* Цвет кнопки "Отправить" */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.InputArea button:hover {
  background-color: #0056b3; /* Цвет кнопки при наведении */
}